extends layout
head
   
    link(rel='stylesheet', src='../public/stylesheets/style.css')
    script(src='../public/javascripts/scripts.js')

block content
   
    header: nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.active(aria-current='page' href='/') Home
            li.nav-item
              a.nav-link(href='/users') Users
            li.nav-item
              a.nav-link(href='/gallery') Galeria

            
    body: .container
    
          




            form.row.g-3.needs-validation(action='/createUser', method="post")
                .row
                    .col-md-3     
                        label.form-label Name
                            input(type="text", name="name")
            
                    .col-md-4
                        label.form-label Surname
                            input(type="text", name="surname")
                
                    .col-md-3
                    label.form-label Description
                        textarea(name="description")
                
                    .col-md-1
                    label.form-label Title
                        input(type="text", name="title")
                .row
                    .col-md-3
                        input.h6.bg-white(type="submit", value="Añadir")
    
    footer.bg-dark.text-center.text-white 
        .navbar.navbar-expand-lg.navbar-dark.bg-dark
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
                li.nav-item
                a.nav-link(aria-current='page' href='https://ramonchu96.github.io/Portfolio/') Curriculum
                li.nav-item
                a.nav-link(href='https://github.com/ramonchu96') GitHub
                        

                                